form {
    margin:3em;
}
.data{
    margin-left:20px;
}
table{
    border-collapse:collapse;
    margin:16px;
}
td,th {
    text-align:center;
    width:10em;
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
