#display {
    margin-top:5px;
    margin-bottom:5px;
}

table#values {
    margin-left: auto;
    margin-right: auto;
}

table#values tr,th,td{
    border: 1px solid black;
    overflow: hidden;
}

table#values th,td{
    width: 60px;
}

table input.var {
    width: 60px;
}
.simplebutton {
    display: inline-box;
    width: 100px;
    text-align: center;
    background-color: rgba(200,200,200,0.7);
    border-radius: 4px;
    margin-left:10px;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.simplebutton:hover {
    background-color: rgba(150,150,140,0.7);
}

.simplebutton:active {
    background-color: rgba(250,250,140,0.7);
}

.center {
    margin-left: auto;
    margin-right: auto;
}
