html {
    font-family: sans-serif;
}

.button{
    background-color: #888888;
    display: inline-block;
    padding:10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button:hover{
    background-color: #aaa;
}

.button:active{
    background-color: #8aa;
}
